<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="AHT_Product::product" title="Product" translate="Product" module="AHT_Product" sortOrder="50"   resource="AHT_Product::product"/>
		<add id="AHT_Product::index" title="Product" module="AHT_Product" parent="AHT_Product::product" action="product/index/" resource="AHT_Product::index" sortOrder="55" />
		<add id="AHT_Product::category" title="Category" module="AHT_Product" parent="AHT_Product::product" action="product/category/" resource="AHT_Category::index" sortOrder="55" />
	</menu>
</config>